* {
    background-color: rgb(215, 194, 168);
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}

.tips {
    display: flex;
    gap: 20px;
    align-items: center;
}

.tips img {
    max-width: 100%;
    height: auto;
}

.contacto {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    color: white;
}